@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: #1d1d1d;
	background: white
}


/* Header Component */

.entries {
	border-radius: 8px;
	background: #E0E0E0;
	padding: 8px 9px;
}

.searchBox {
	border-radius: 8px;
	padding: 9px 8px;
	border: 1px solid #9E9E9E;
}

input {
	outline: 0;
}

.addCustomer {
	border-radius: 8px;
	background: #624DE3;
}

/* Table Component */

table {
	width: 100%;
	text-align: left;
}

table tr th, td {
	padding: 1rem;
	font-size: 14px;
}

table tbody tr:nth-child(even) {
	background: #fff;
}

table tbody tr:nth-child(odd) {
	background: #F7F6FE;
}

.pagination .next, .prev {
	color: #9E9E9E;
	font-size: 12px;
}

.pagination .numbers .item {
	border-radius: 8px;
	background: #E0E0E0;
	padding: 8px 15px;
	font-size: 12px;
}

.pagination .numbers .item.active {
	background: #624DE3;
	color: white;
}

/* status Component */

.status {
	padding: 8px 12px;
	border-radius: 22px;
	width: fit-content;
}

.true {
	background: #EBF9F1;
	color: #1F9254;
}

.false {
	background: #FBE7E8;
	color: #A30D11;
}

/* Loading Component */

.simple-spinner {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }
  
  .simple-spinner span {
	display: block;
	width: 30px;
	height: 30px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-right-color: rgba(0, 0, 0, 0.7);
	animation: spinner-anim 0.8s linear infinite;
  }
  
  @keyframes spinner-anim {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(360deg);
	}
  }